<div class="container">
  <div class="title">
      <h1>Exibindo resultado de busca por "Covid 19"</h1>
      <p>Encontramos um total de 20 resultados para a sua busca</p> 
  </div>
  <div class="content-box">  
    <app-cards></app-cards>                 
    <div class="sidebar">
      <h3>Categorias</h3>
      <div class="block">Lorem ipsum dolor</div>
      <div class="block">Lorem ipsum dolor</div>
      <div class="block">Lorem ipsum dolor</div>
      <div class="block">Lorem ipsum dolor</div>        
      <h3>Procurando alguma coisa?</h3>    
      <div class="blocoIcones">
        <input type="text" id="campo" name="campo" placeholder="Pesquisar por...">
        <button>
          <img src="../assets/img/search.svg" alt="">
        </button>
      </div>
    </div>
  </div>        
</div>
<router-outlet></router-outlet>